.admin__container {
  display: flex;
  font-size: 1.5rem;

  ////////////////////////SIDEBAR////////////////////////////

  .admin__sidebar {
    height: 100vh;
    background-color: #f0f0f3;
    text-align: center;
    padding: 5rem 14rem 0rem 3rem;
    ul {
      list-style: none;
      li {
        
        padding-left: 10px;
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        a:link,
        a:visited {
          text-decoration: none;
          color: inherit;
        }
        .menu-item {
          text-align: start;
          display: flex;
          align-items: center;
          gap: 1.5rem;
          .menu-icon {
            width: 3.5rem;
            height: 3.5rem;
          }
        }
        .active{
          border-left: 2px solid black;
        }
      }
      
    }
  }

  ////////////////////////CONTNET////////////////////////////

  .admin__box {
    flex: 1;
    ////////////////////////HEADER////////////////////////////
    .admin__header {
      .logout-box {
        text-align: end;
        padding: 2rem;
        .btn-logout {
          padding: 1rem 3rem;
          font-size: 1.6rem;
          background-color: transparent;
          border: none;
          font-weight: 600;
          cursor: pointer;
        }
      }
      .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
      }
    }
  }
}

//////////UTILITIES//////////////
.m-dec-left {
  margin-left: -4.5rem;
}