.card-product {
  &__image img{
    height: 358px;
    @include media-breakpoint-up(md) {
      height: 240px;
    }
    @include media-breakpoint-up(lg) {
      height: 358px;
    }
  }
  &__button {
    position: absolute;
    left: 0;
    bottom: -66px;
    transition: $transition-base;
  }
  &:hover &__button {
    bottom: 0;
  }
}