.index-banner {
  background-image: url('../images/index-bannner/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  @media (max-width: 842px) {
    background-position: top;
    height: 70vh;
  }
  @include media-breakpoint-down(sm) {
    justify-content: start;
    background-image: url('../images/index-bannner/banner-sm.jpg');
    height: 85vh;
    span {
      display: block;
    }

    .banner-container {
      padding: 0 2rem;
    }
    .btn-container {
      .btn {
        padding: 0.75rem 2px;
      }
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      letter-spacing: 0.46;
      // transform: translateX(-2rem);
    }
  }
  animation: bannerBackgroundZoom 5s ease-out forwards;
  color: #fff;
  .btn {
    color: #fff;
    border-radius: 0rem 16px 0rem 16px;
  }
}

.index-news {
  background-image: url('../images/index-news/index-news-bg-1.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 231px 131px;
  @include media-breakpoint-up(lg) {
    background-size: 435px 247px;
  }
  &__card h3 {
    color: $dark;
    transition: $transition-base;
  }
  &__card:hover h3 {
    color: $primary;
  }
}
