.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.object-position-center {
  object-position: center;
}

.noto-serif-tc {
  font-family: "Noto Serif TC", serif;
}

.noto-sans-tc {
  font-family: "Noto Sans TC", serif;
}

.cursor-pointer {
  cursor: pointer;
}